* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background: linear-gradient(360deg, rgba(209, 204, 192, 0.6) 0%, rgba(255, 255, 255, 0.8) 100%), url(../../../public/Images/backgroundImg-2.jpg); }

#root {
  width: 100%; }

.container {
  display: flex;
  flex-direction: column;
  align-items: center; }

.main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3rem; }

body {
  font-family: "Lato", Arial, Helvetica, sans-serif;
  line-height: 1.5;
  letter-spacing: 1.2px;
  font-size: 1rem;
  font-weight: 400;
  display: flex;
  justify-content: center;
  color: rgba(255, 255, 255, 0.7); }

.table {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 5rem 3rem;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
  box-shadow: 0 0 0.7rem 0.2rem rgba(0, 0, 0, 0.5); }
  .table__container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 2rem; }
  .table__header, .table__body {
    width: 90%; }
  .table__header {
    background-color: #bf9e66;
    color: rgba(255, 255, 255, 0.7);
    padding: 2rem 1rem; }
  .table__row, .table__header-row {
    display: flex;
    justify-content: space-between;
    color: #bf9e66;
    padding: 1.5rem 1rem; }
  .table__row {
    align-items: center;
    background-color: #ffffff; }
    .table__row:nth-child(even) {
      background-color: rgba(209, 204, 192, 0.6);
      color: #828181; }
    .table__row td,
    .table__row th {
      width: 25%;
      text-align: left;
      font-size: 1.1rem; }
      .table__row td:not(:last-child),
      .table__row th:not(:last-child) {
        padding: 1rem 0;
        border-bottom: 1.5px solid #bf9e66;
        border-top: 1.5px solid #bf9e66; }
      .table__row td:last-child,
      .table__row th:last-child {
        text-align: center; }
  .table th {
    color: #ffffff; }
    .table th p {
      margin-bottom: 0.5rem; }
  .table td img {
    width: 100%;
    border-radius: 0.3rem;
    -webkit-border-radius: 0.3rem;
    -moz-border-radius: 0.3rem;
    -ms-border-radius: 0.3rem;
    -o-border-radius: 0.3rem; }
  .table__dropdown-container {
    position: relative;
    display: block;
    margin: 0 auto;
    border: 1px solid #ffffff;
    background-color: #ffffff;
    z-index: 10;
    border-radius: 0.3rem;
    -webkit-border-radius: 0.3rem;
    -moz-border-radius: 0.3rem;
    -ms-border-radius: 0.3rem;
    -o-border-radius: 0.3rem; }
    .table__dropdown-container::after {
      position: absolute;
      right: 0;
      top: 0;
      width: 3rem;
      height: 100%;
      line-height: 3rem;
      content: "\2228";
      text-align: center;
      color: #bf9e66;
      font-size: 1rem;
      z-index: -1; }
  .table__dropdown {
    border: none;
    outline: none;
    background: transparent;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    margin: 0;
    display: block;
    width: 100%;
    padding: 1rem 3rem 1rem 1rem;
    font-size: inherit;
    color: #bf9e66;
    z-index: -1; }
  .table__self-confession {
    background-color: rgba(16, 172, 133, 0.6); }

.footer {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.7);
  margin-top: 3rem;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16rem;
  color: #828181; }
  .footer__nav {
    width: 80%; }
  .footer__img {
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
    box-shadow: 0 0 0.7rem 0.2rem rgba(0, 0, 0, 0.5); }
  .footer p {
    width: 20%; }

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5rem;
  margin-top: 2rem; }
  .header__img {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    box-shadow: 0 0 0.7rem 0.2rem rgba(0, 0, 0, 0.5); }

.nav {
  width: 30%;
  display: flex;
  align-items: center; }
  .nav__list {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center; }
    .nav__list li {
      list-style: none; }
  .nav__item {
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 700;
    padding: 0.6rem;
    color: #828181;
    border-radius: 0.5rem;
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    -ms-border-radius: 0.5rem;
    -o-border-radius: 0.5rem;
    transition: 0.2s all;
    -webkit-transition: 0.2s all;
    -moz-transition: 0.2s all;
    -ms-transition: 0.2s all;
    -o-transition: 0.2s all; }
    .nav__item:not(:first-of-type)::after {
      content: "";
      display: block;
      width: 0;
      height: 2px;
      transition: 0.5s all;
      -webkit-transition: 0.5s all;
      -moz-transition: 0.5s all;
      -ms-transition: 0.5s all;
      -o-transition: 0.5s all; }
    .nav__item:hover {
      transform: scale(1.05);
      -webkit-transform: scale(1.05);
      -moz-transform: scale(1.05);
      -ms-transform: scale(1.05);
      -o-transform: scale(1.05); }
      .nav__item:hover:first-of-type {
        border: 3px solid rgba(209, 204, 192, 0.6); }
      .nav__item:hover:hover::after {
        content: "";
        width: 100%;
        height: 2px;
        background-color: rgba(209, 204, 192, 0.6); }

.active {
  color: #bf9e66; }

.home {
  width: 90%;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  background: linear-gradient(360deg, rgba(209, 204, 192, 0.6) 0%, black 100%), url(../../../public/Images/backgroundImg-1.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 12rem;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem; }
  .home h1 {
    font-size: 3.5rem;
    color: #ffffff;
    justify-self: center; }
  .home p {
    font-size: 1.2rem; }

.icon {
  display: inline-block;
  width: 3rem;
  height: 3rem;
  fill: currentColor; }
