@keyframes flashing {
  0% {
    opacity: 0; }
  50% {
    opacity: 0.5; }
  100% {
    opacity: 0; } }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background: linear-gradient(360deg, rgba(209, 204, 192, 0.6) 0%, rgba(255, 255, 255, 0.8) 100%), url(../../../public/Images/backgroundImg-2.jpg); }

#root {
  width: 100%; }

.container {
  display: flex;
  flex-direction: column;
  align-items: center; }

.main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3rem; }

body {
  font-family: "Lato", Arial, Helvetica, sans-serif;
  line-height: 1.5;
  letter-spacing: 1.2px;
  font-size: 1rem;
  font-weight: 400;
  display: flex;
  justify-content: center;
  color: rgba(255, 255, 255, 0.7); }

.heading--table {
  width: 100%;
  text-align: center;
  background-color: #8d7966d4;
  box-shadow: 0 0 1rem 0.2rem rgba(0, 0, 0, 0.2);
  padding: 1.5rem 0;
  margin-bottom: 3rem; }

.heading--form {
  width: 100%;
  text-align: center;
  margin-top: 4rem; }

.button--form {
  cursor: pointer;
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -ms-transition: 0.5s all;
  -o-transition: 0.5s all; }
  .button--form:hover {
    box-shadow: 0 0 0.5rem 0.01rem rgba(255, 255, 255, 0.4);
    transform: translateY(-3px);
    -webkit-transform: translateY(-3px);
    -moz-transform: translateY(-3px);
    -ms-transform: translateY(-3px);
    -o-transform: translateY(-3px);
    font-size: 1.4rem; }

.button--form:disabled {
  cursor: default; }
  .button--form:disabled:hover {
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0); }

.button--form, .button--form:disabled {
  width: 25rem;
  padding: 1.5rem;
  box-shadow: 0 0 0.2rem 0.2rem rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 1rem 0.2rem rgba(0, 0, 0, 0.2);
  border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
  -webkit-border-radius: 1rem;
  color: #ffffff;
  font-size: 1.2rem;
  background-color: rgba(0, 0, 0, 0.6);
  align-self: flex-end;
  border: none; }

.dropdown-container {
  width: 75%;
  position: relative;
  display: block;
  margin: 0 auto;
  border: 1px solid #ffffff;
  background-color: #ffffff;
  border-radius: 0.3rem;
  -webkit-border-radius: 0.3rem;
  -moz-border-radius: 0.3rem;
  -ms-border-radius: 0.3rem;
  -o-border-radius: 0.3rem; }

.dropdown {
  border: none;
  outline: none;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  width: 100%;
  padding: 1rem 3rem 1rem 1rem;
  font-size: inherit;
  color: #8d7966d4; }

.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: rgba(16, 172, 133, 0.3);
  padding: 4rem;
  border-radius: 0.3rem;
  -webkit-border-radius: 0.3rem;
  -moz-border-radius: 0.3rem;
  -ms-border-radius: 0.3rem;
  -o-border-radius: 0.3rem; }
  .form__container {
    width: 60%;
    padding: 2rem 0 2rem 2rem; }
  .form__select-container, .form__input-container {
    display: flex;
    align-items: center; }
  .form__label {
    width: 15%; }
  .form__confession, .form__input, .form__select {
    width: 85%; }
  .form__textarea {
    width: 100%; }
  .form__input, .form__select, .form__textarea {
    padding: 1.2rem;
    border-radius: 0.3rem;
    -webkit-border-radius: 0.3rem;
    -moz-border-radius: 0.3rem;
    -ms-border-radius: 0.3rem;
    -o-border-radius: 0.3rem;
    margin-bottom: 0.5rem;
    border: none;
    color: #828181;
    font-size: 1.1rem;
    font-family: inherit;
    background-color: rgba(255, 255, 255, 0.2);
    color: #ffffff; }
    .form__input:focus, .form__input:active, .form__select:focus, .form__select:active, .form__textarea:focus, .form__textarea:active {
      outline: none;
      border: 2px solid rgba(255, 255, 255, 0.7); }
    .form__input::placeholder, .form__select::placeholder, .form__textarea::placeholder {
      font-size: 1.1rem;
      font-family: inherit;
      color: rgba(255, 255, 255, 0.7); }
  .form__select {
    font-size: 1.1rem;
    color: rgba(255, 255, 255, 0.7); }
  .form__textarea {
    height: 15rem; }
  .form__error {
    width: 100%;
    margin: 1rem 0;
    font-size: 1rem;
    color: #f44336; }
  .form__sendMsg {
    font-size: 1.4rem;
    margin: -7rem 0 0 2rem;
    color: #10ac85; }
  .form__err-server {
    width: 100%;
    margin-top: -3rem;
    margin-right: 50%;
    color: #f44336;
    text-align: center; }

.icon,
.icon__opacity--medium {
  display: inline-block;
  width: 4rem;
  height: 4rem; }

.icon {
  fill: currentColor; }

.icon__opacity--medium {
  width: 5rem;
  height: 5rem;
  fill: #ffffff;
  opacity: 0.3; }

.table {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  border-radius: 0.3rem;
  -webkit-border-radius: 0.3rem;
  -moz-border-radius: 0.3rem;
  -ms-border-radius: 0.3rem;
  -o-border-radius: 0.3rem;
  box-shadow: 0 0 1rem 0.2rem rgba(0, 0, 0, 0.2);
  background-color: #000;
  background: linear-gradient(315deg, rgba(209, 204, 192, 0.6) 10%, black 100%), url(../../../public/Images/backgroundImg-1.jpg);
  padding: 5rem 3rem; }
  .table__container {
    width: 90%;
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    flex-direction: column; }
  .table__header, .table__body {
    width: 90%; }
  .table__header {
    background-color: rgba(16, 172, 133, 0.3);
    color: rgba(255, 255, 255, 0.7);
    padding: 2rem 1rem; }
  .table__row, .table__header-row {
    display: flex;
    justify-content: space-between;
    color: #8d7966d4;
    padding: 1.5rem 1rem;
    font-weight: 600; }
    .table__row th, .table__header-row th {
      width: 20%;
      height: 6rem;
      text-align: left;
      font-size: 1.1rem;
      padding: 0.2rem;
      text-align: center; }
  .table__row {
    background-color: #ffffff; }
    .table__row:nth-child(even) {
      background-color: rgba(209, 204, 192, 0.6);
      color: rgba(255, 255, 255, 0.7); }
    .table__row td,
    .table__row th {
      width: 20%;
      height: 6rem;
      text-align: left;
      font-size: 1.1rem;
      padding: 0.2rem;
      display: flex;
      align-items: center;
      justify-content: center; }
      .table__row td:not(:nth-child(4)),
      .table__row th:not(:nth-child(4)) {
        padding: 1rem 0;
        border-bottom: 1.5px solid #8d7966d4;
        border-top: 1.5px solid #8d7966d4;
        font-size: 1.1rem;
        text-align: left; }
      .table__row td:last-child,
      .table__row th:last-child {
        text-align: center;
        word-wrap: break-word; }
  .table th {
    color: #ffffff; }
    .table th p {
      margin-bottom: 0.5rem; }
  .table td {
    text-align: center; }
    .table td img {
      height: 6rem;
      border-radius: 0.3rem;
      -webkit-border-radius: 0.3rem;
      -moz-border-radius: 0.3rem;
      -ms-border-radius: 0.3rem;
      -o-border-radius: 0.3rem; }
  .table__self-confession {
    background-color: #000; }
  .table__label {
    display: none; }
  .table__loading, .table__error {
    align-self: center;
    margin-top: 7rem;
    font-size: 3rem; }
  .table__loading {
    color: #ffffff;
    animation: flashing 1s linear infinite forwards;
    -webkit-animation: flashing 2s linear infinite forwards;
    background-color: #000;
    padding: 1rem 2rem; }
  .table__error {
    color: #f44336; }

.footer {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.7);
  margin-top: 6rem;
  padding: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #828181; }
  .footer__img-box {
    display: flex;
    align-items: center; }
  .footer__img {
    width: 21rem; }
    .footer__img--small {
      width: 4rem;
      margin-right: 0.5rem; }
  .footer__nav {
    width: 100%; }
  .footer p {
    width: 100%;
    text-align: center; }

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5rem;
  margin-top: 2rem; }
  .header__img-box {
    display: flex;
    align-items: center; }
  .header__img {
    width: 21rem; }
    .header__img--small {
      width: 4rem;
      margin-right: 0.5rem; }

.nav {
  width: 30%;
  display: flex;
  align-items: center; }
  .nav__list {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center; }
    .nav__list li {
      list-style: none; }
  .nav__item {
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: 700;
    color: #828181;
    border-radius: 0.5rem;
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    -ms-border-radius: 0.5rem;
    -o-border-radius: 0.5rem;
    transition: 0.2s all;
    -webkit-transition: 0.2s all;
    -moz-transition: 0.2s all;
    -ms-transition: 0.2s all;
    -o-transition: 0.2s all; }
    .nav__item::after {
      content: "";
      display: block;
      width: 0;
      height: 2px;
      transition: 0.5s all;
      -webkit-transition: 0.5s all;
      -moz-transition: 0.5s all;
      -ms-transition: 0.5s all;
      -o-transition: 0.5s all; }
    .nav__item:hover {
      transform: scale(1.05);
      -webkit-transform: scale(1.05);
      -moz-transform: scale(1.05);
      -ms-transform: scale(1.05);
      -o-transform: scale(1.05); }
      .nav__item:hover:hover::after {
        content: "";
        width: 100%;
        height: 2px;
        background-color: #bf9e66; }
    .nav__item svg {
      margin: 0.5rem;
      padding: 0.5rem;
      border-radius: 0.3rem;
      -webkit-border-radius: 0.3rem;
      -moz-border-radius: 0.3rem;
      -ms-border-radius: 0.3rem;
      -o-border-radius: 0.3rem; }
      .nav__item svg:hover {
        box-shadow: 0 0 0.2rem 0.2rem rgba(0, 0, 0, 0.2); }

.active {
  color: #bf9e66; }

.home {
  width: 90%;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  background: linear-gradient(315deg, rgba(209, 204, 192, 0.6) 10%, black 100%), url(../../../public/Images/backgroundImg-1.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 12rem;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem; }
  .home h1 {
    font-size: 3.5rem;
    color: #ffffff;
    justify-self: center; }
  .home p {
    font-size: 1.2rem; }

.confession {
  width: 90%;
  font-size: 1.2rem;
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 4rem;
  border-radius: 0.3rem;
  -webkit-border-radius: 0.3rem;
  -moz-border-radius: 0.3rem;
  -ms-border-radius: 0.3rem;
  -o-border-radius: 0.3rem;
  box-shadow: 0 0 0.7rem 0.2rem rgba(0, 0, 0, 0.8);
  margin: 3rem 0 6rem 0;
  background: linear-gradient(135deg, rgba(0, 0, 0, 0.6) 5%, black 70%), url(../../../public/Images/backgroundImg-1.jpg); }
  .confession__text {
    width: 40%;
    padding-right: 3rem;
    display: flex;
    flex-direction: column;
    font-weight: 200;
    font-size: 1.1rem; }
    .confession__text:first-child {
      align-items: center; }
    .confession__text p {
      border-top: 0.5px solid grey;
      padding: 4rem 0; }
      .confession__text p:first-of-type {
        margin-top: 4rem; }
