.footer {
  width: 100%;
  background-color: $color-white--light;
  margin-top: 3rem;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16rem;
  color: $color-grey;

  &__nav {
    width: 80%;
  }

  &__img {
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
    box-shadow: $box-shadow--medium;
  }

  p {
    width: 20%;
  }
}
