.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5rem;
  margin-top: 2rem;

  &__img-box {
    display: flex;
    align-items: center;
  }

  &__img {
    width: 21rem;

    &--small {
      width: 4rem;
      margin-right: 0.5rem;
    }
  }
}
