.header {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1.2rem 2rem;
  margin-top: 2rem;

  &__img {
    width: 7rem;
    height: 7rem;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    box-shadow: $box-shadow--medium;
  }
}
