.nav {
  width: 40%;
  display: flex;
  align-items: center;

  @include respond(desktop) {
    width: 50%;
  }

  @include respond(large-tab) {
    display: none;
  }

  &__menuBar {
    width: 100%;
    background-color: $color-green--dark;
    transition: 1s all linear;
    -webkit-transition: 1s all linear;
    -moz-transition: 1s all linear;
    -ms-transition: 1s all linear;
    -o-transition: 1s all linear;
    z-index: 100;
    position: absolute;
    top: 0;
    right: 0;
    animation: moveLeft 1s forwards;
    -webkit-animation: moveLeft 1s forwards;
  }

  &__menu {
    display: none;
    @include respond(large-tab) {
      display: block;
      position: absolute;
      top: 4rem;
      right: 2rem;
      z-index: 500;
    }

    @include respond(small-tab-portrait) {
      top: 3.4rem;
    }

    @include respond(phone) {
      top: 2.5rem;
    }

    @include respond(small-phone) {
      top: 2.7rem;
      right: 1rem;
    }
  }

  &__list {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;

    @include respond(large-tab) {
      width: 85%;
      padding: 1.5rem 0;
    }
    @include respond(small-tab-portrait) {
      width: 78%;
      margin-top: 2rem;
    }
    @include respond(phone) {
      width: 50%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin-top: 1rem;
      margin-left: 1.5rem;
    }

    li {
      list-style: none;

      &:not(:first-of-type) {
        @include respond(phone) {
          padding: 0.7rem;
        }
      }
      @include respond(phone) {
        width: 100%;
        border-bottom: 0.5px solid $color-white--light;
      }
    }
  }
  &__item {
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 700;
    color: $color-grey;
    border-radius: 0.5rem;
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    -ms-border-radius: 0.5rem;
    -o-border-radius: 0.5rem;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -ms-transition: 0.5s all;
    -o-transition: 0.5s all;

    @include respond(large-tab) {
      color: $color-black--light;
    }
    @include respond(small-tab-portrait) {
      font-size: 1rem;
    }

    @include respond(phone) {
      padding: 1rem 0;
    }

    &::after {
      content: "";
      display: block;
      width: 0;
      height: 2px;
      transition: 0.1s all linear;
      -webkit-transition: 0.1s all linear;
      -moz-transition: 0.1s all linear;
      -ms-transition: 0.1s all linear;
      -o-transition: 0.1s all linear;
    }

    &:hover {
      transform: scale(1.05);
      -webkit-transform: scale(1.05);
      -moz-transform: scale(1.05);
      -ms-transform: scale(1.05);
      -o-transform: scale(1.05);

      &:hover::after {
        content: "";
        width: 100%;
        height: 2px;
        background-color: $color-brown--medium;
        @include respond(phone) {
          display: none;
        }
      }
    }

    svg {
      margin: 0.5rem;
      padding: 0.5rem;
      border-radius: $border-radius--small;
      -webkit-border-radius: $border-radius--small;
      -moz-border-radius: $border-radius--small;
      -ms-border-radius: $border-radius--small;
      -o-border-radius: $border-radius--small;
      @include respond(phone) {
        padding: 0;
        margin: o;
      }

      &:hover {
        box-shadow: $box-shadow--btn;
      }
    }
  }
}
.active {
  color: $color-brown--medium;

  @include respond(large-tab) {
    color: $color-white;
  }
}

.hidden {
  display: none;
}
