.navbtn__container {
  width: 3rem;
  height: 3rem;
}

.navbtn {
  width: 100%;
  height: 100%;
  display: none;
  text-align: center;

  &__hamburger-box {
    display: block;
    width: 4rem;
    height: 4rem;
    position: relative;
    top: 0;
    cursor: pointer;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;

    &:hover > &__hamburger::after {
      transform: translateY(-0.2rem);
      -webkit-transform: translateY(-0.2rem);
      -moz-transform: translateY(-0.2rem);
      -ms-transform: translateY(-0.2rem);
    }
  }

  &__hamburger {
    width: 60%;
    height: 0.2rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    background-color: $color-brown--dark;

    &::before {
      content: "";
      position: absolute;
      top: -0.8rem;
      width: 100%;
      height: 0.2rem;
      background-color: inherit;
      transition: all 0.2s;
    }

    &::after {
      content: "";
      position: absolute;
      top: 0.8rem;
      width: 100%;
      height: 0.2rem;
      background-color: inherit;
      transition: all 0.2s;
    }
    &:hover::before {
      transform: translateY(-0.2rem);
      -webkit-transform: translateY(-0.2rem);
      -moz-transform: translateY(-0.2rem);
      -ms-transform: translateY(-0.2rem);
      -o-transform: translateY(-0.2rem);
    }

    // &:hover::after {
    //   transform: translateY(-0.2rem);
    //   -webkit-transform: translateY(-0.2rem);
    //   -moz-transform: translateY(-0.2rem);
    //   -ms-transform: translateY(-0.2rem);
    // }
  }

  &:checked + &__hamburger-box > &__hamburger {
    height: 0;
  }
  &:checked + &__hamburger-box {
    background-color: $color-green;
  }

  &:checked + &__hamburger-box > &__hamburger::before {
    transform: translateY(0.8rem) rotate(315deg);
    -webkit-transform: translateY(0.8rem) rotate(315deg);
    -moz-transform: translateY(0.8rem) rotate(315deg);
    -ms-transform: translateY(0.8rem) rotate(315deg);
    -o-transform: translateY(0.8rem) rotate(315deg);
  }
  &:checked + &__hamburger-box > &__hamburger::after {
    transform: translateY(-0.8rem) rotate(-315deg);
    -webkit-transform: translateY(-0.8rem) rotate(-315deg);
    -moz-transform: translateY(-0.8rem) rotate(-315deg);
    -ms-transform: translateY(-0.8rem) rotate(-315deg);
    -o-transform: translateY(-0.8rem) rotate(-315deg);
  }
}
