.icon,
.icon__opacity--medium {
  display: inline-block;
  width: 4rem;
  height: 4rem;
}

.icon {
  fill: currentColor;
  &--small {
    fill: $color-white;
    width: 3rem;
    height: 3rem;
    opacity: 0.3;
  }
}

.icon__opacity--medium {
  width: 5rem;
  height: 5rem;
  fill: $color-white;
  opacity: 0.3;
}
