.table {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  box-shadow: $box-shadow--small;

  &__header,
  &__body {
    width: 100%;
  }
  &__header {
    background-color: $color-green;
    color: $color-white--light;
    padding: 2rem 1rem;
  }

  &__row,
  &__header-row {
    display: flex;
    justify-content: space-between;
    color: $color-brown--dark;
    padding: 1.5rem 1rem;
    font-weight: 600;
    th {
      width: 20%;
      height: 6rem;
      text-align: left;
      font-size: 1.1rem;
      padding: 0.2rem;
      text-align: center;
    }
  }
  &__row {
    background-color: $color-white;
    &:nth-child(even) {
      background-color: $color-brown--light;
      color: $color-white--light;
    }

    td,
    th {
      width: 20%;
      height: 6rem;
      text-align: left;
      font-size: 1.1rem;
      padding: 0.2rem;
      display: flex;
      align-items: center;
      justify-content: center;

      &:not(:nth-child(4)) {
        padding: 1rem 0;
        border-bottom: 1.5px solid $color-brown--dark;
        border-top: 1.5px solid $color-brown--dark;
        font-size: 1.1rem;
        text-align: left;
      }

      &:last-child {
        text-align: center;
        word-wrap: break-word;
      }
    }
  }
  th {
    color: $color-white;
    p {
      margin-bottom: 0.5rem;
    }
  }
  td {
    text-align: center;
    img {
      height: 6rem;
      border-radius: $border-radius--small;
      -webkit-border-radius: $border-radius--small;
      -moz-border-radius: $border-radius--small;
      -ms-border-radius: $border-radius--small;
      -o-border-radius: $border-radius--small;
    }
  }

  &__self-confession {
    background-color: $color-black;
  }

  &__label {
    display: none;
  }

  &__loading,
  &__error {
    align-self: center;
    margin-top: 7rem;
    font-size: 3rem;
  }

  &__loading {
    color: $color-white;
    animation: flashing 1s linear infinite forwards;
    -webkit-animation: flashing 2s linear infinite forwards;
    background-color: $color-black;
    padding: 1rem 2rem;
  }

  &__error {
    color: $color-error;
  }
}
