$color-clouds: #ecf0f1;
$color-white: #ffffff;
$color-white--light: rgba(255, 255, 255, 0.7);
$color-black: #000;
$color-purple: rgba(66, 19, 174, 0.9);

$box-shadow--medium: 0 0 0.7rem 0.2rem rgba(0, 0, 0, 0.5);
