.confession {
  width: 90%;
  font-size: 1rem;
  background-color: $color-black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 4rem;
  border-radius: $border-radius--small;
  -webkit-border-radius: $border-radius--small;
  -moz-border-radius: $border-radius--small;
  -ms-border-radius: $border-radius--small;
  -o-border-radius: $border-radius--small;
  box-shadow: $box-shadow--medium;
  margin: 3rem 0;
  background: $bg-confession;

  @include respond(desktop) {
    padding: 3rem;
  }
  @include respond(large-tab) {
    padding: 2rem;
  }
  @include respond(small-tab) {
    width: 100%;
    margin: 2rem 0 0 0;
  }
  @include respond(small-tab-portrait) {
    flex-direction: column;
  }

  @include respond(phone) {
    padding: 0;
  }
  @include respond(small-phone) {
    margin-top: -2rem;
  }

  &__text {
    width: 40%;
    padding-right: 3rem;
    display: flex;
    flex-direction: column;
    font-weight: 200;
    font-size: 1rem;

    @include respond(large-tab) {
      padding-right: 0;
    }

    @include respond(small-tab-portrait) {
      width: 100%;
    }

    @include respond(phone) {
      padding: 2rem;
      font-size: 0.9rem;
    }

    &:first-child {
      align-items: center;
    }
    p {
      border-top: 0.5px solid grey;
      padding: 4rem 0;

      @include respond(small-tab-portrait) {
        text-align: center;
        padding: 2.5rem 0;
      }

      @include respond(x-small-phone) {
        padding: 2rem;
      }

      &:first-of-type {
        margin-top: 4rem;

        @include respond(phone) {
          margin-top: 3rem;
        }
      }
    }
  }
}
